.footer {
    background-color: var(--background-primary);
    border-top: 1px solid var(--outline);
    padding: 2rem 0;
}

.footerContent {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footerText {
    color: var(--text-muted);
}